@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

main {
  /* background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );  */
  background-image: radial-gradient(rgb(27, 134, 228), black);
}

.title {
  display: grid;
  background-image: radial-gradient(circle 976px at 51.2% 51%, rgb(11, 27, 103) 0%, rgb(16, 66, 157) 0%, rgb(11, 27, 103) 17.3%, rgb(11, 27, 103) 58.8%, rgb(11, 27, 103) 71.4%, rgb(16, 66, 157) 100.2%, rgb(187, 187, 187) 100.2%);
  text-align: center;
  align-items: center;
  margin-bottom: 0px;
  height: 5em;
}
.title h1 {
  font-size: 20px;
  color: hsl(354.25, 70.46%, 53.53%);
}
.title .title-print-a {
  color: white;
  font-size: 20px;
  justify-content: left;
  margin-right: 5px;
}
.title .title-print-b {
  background-color: hsl(188.57, 70%, 7.84%);
  border-radius: 20px 0px;
  color: whitesmoke;
  padding-right: 50px;
  padding-left: 50px;
}

.first-card-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(1, 1fr);
  margin: 5%;
  background-image: radial-gradient(black, rgb(27, 134, 228));
  border: 2px solid black;
  border-radius: 10px 10px;
  box-shadow: 0px 0px 25px 1px rgb(27, 134, 228);
}
.first-card-container:hover {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(1, 1fr);
  margin: 5%;
  background-image: radial-gradient(black, rgb(27, 134, 228));
  border: 2px solid black;
  border-radius: 10px 10px;
  box-shadow: 0px 0px 30px 12px rgb(27, 134, 228);
}
.first-card-container p {
  color: aliceblue;
  margin: 1em 2em 1em 2em;
  align-items: start;
  text-align: left;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  height: 20px;
}

.title-guia {
  text-align: center;
  align-items: center;
  /* background-color: black; */
  color: black;
}

.sub-title {
  text-align: center;
  align-items: center;
  color: red;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: underline;
}

.atte-look {
  color: red;
  text-decoration: underline;
}

.question-look {
  text-align: center;
  align-items: center;
  color: red;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: underline;
}

.option-conteiner {
  text-align: center;
  justify-content: center;
}

.banner-contenedor {
  display: block;
  width: 100%;
  height: 10px;
}
.banner-contenedor img {
  display: block;
  width: 120px;
  height: 120px;
}

.h-color-txt-bg {
  background-color: hsl(188.57, 70%, 7.84%);
  color: orange;
  border-radius: 10px;
}

.p-color-txt-bg {
  background-color: hsl(188.57, 70%, 7.84%);
}

.cartas-color {
  background-color: hsl(188.57, 70%, 7.84%);
  color: whitesmoke;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0 100px 100px rgba(0, 0, 0, 0.2);
}

.profile-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(188.57, 70%, 7.84%);
  padding: 2rem;
  color: aliceblue;
}
.profile-player .cover-photo {
  display: flex;
  margin: 0 0px 0px 0px;
}
.profile-player .profile-photo {
  position: relative;
  margin-top: -100px; /* Ajusta según la altura de la imagen de portada */
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.profile-player .profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-player h1 {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.profile-player p {
  font-size: 1rem;
  color: white;
}

/*# sourceMappingURL=main.css.map */
