$orange-breakout: hsl(18.87, 74.7%, 32.55%);
$red-youtube: hsl(354.25, 70.46%, 53.53%);
$petroleo-breakout: hsl(188.57, 70%, 7.84%);
$blue-radial-gradient: radial-gradient(circle 976px at 51.2% 51%, rgba(11, 27, 103, 1) 0%, rgba(16, 66, 157, 1) 0%, rgba(11, 27, 103, 1) 17.3%, rgba(11, 27, 103, 1) 58.8%, rgba(11, 27, 103, 1) 71.4%, rgba(16, 66, 157, 1) 100.2%, rgba(187, 187, 187, 1) 100.2%);
$blue-main-radial-gradient: radial-gradient(rgb(27, 134, 228), black);


